body{
	font-family: 'Stylish',Sana-Serif
	Font-weight: 300;

	
}	

h6,
h5,
h4,
h3,
h2,
h1 { 
     font-family: 'Rubik Mono One', sans-serif;
	 font-weight:600;

}


.navbar-brand ing {width:150px}

#footer {background-color:blue;color:#fff}

#lowerfooter {background-color:darkblue;}

#lowerfooter i {font-size:60px;color:#fff;margin:16px 6px 8px 3px}

.memberBenefits i {font-size:200px;color:#fff;}
.memberBenefits p {font-size:24px;color:#fff;margin-top:12px}
.mBBox {background-color:red;padding:15px; border-radius:15px}


.pBox{}
.pBox img {z-index:-1}
.pBox button{z-index:2;position:absolute;right:25%}
.pBox button:hover {}
